.lbl-login{
  -fx-font-weight: bolder
}

.text-fields{
  -fx-border-radius: 8px; 
  -fx-background-radius: 8px;
  -fx-box-sizing: border-box; 
  -fx-font-size: 1.4em; 
  -fx-border-color: #C2C2C2; 
  -fx-border-style: solid; 
  -fx-border-width: 2px;
  -fx-background-color: #D7D7D7;
}



.bt-logar{

  -fx-background-color: #F1862A;
  -fx-border-radius: 62px; 
  -fx-background-radius: 62px;
  -fx-font-weight: 800;
}


.bt-logar:hover{
	-fx-background-color: #f39d56;
}
